{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "chrome": "75"
      }
    }]
  ]
  // "plugins": ["@babel/plugin-syntax-dynamic-import"]
}