{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "chrome": "75"
      }
    }],
    "@vue/babel-preset-jsx"
  ]
  // ,
  // "plugins": ["transform-vue-jsx"]
  // "plugins": ["@babel/plugin-syntax-dynamic-import"]
}